body {
	font-family: Arial, sans-serif;
    background-image: url("istockphoto-1330040188-612x612.jpg");
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
	background-repeat: no-repeat;
}

.header{
    text-align: center;
    position: relative;
}
h1 {
	text-align: center;
	color: #fff;
	font-size: 2.5em;
	margin-top: 20px;
	margin-bottom: 20px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


#input {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
}
input[type="text"] {
  width: 50%;
}

input:hover {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

button {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
button:hover {
	background-color: #45a049;
}
button:active {
	transform: scale(0.98);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

input:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

ul {
	list-style-type: none;
	padding: 0;
}

ul:hover {
	background-color: transparent;
}

li {
	padding: 10px;
	margin-bottom: 5px;
	background-color: burlywood;
	border-radius: 5px;
}

li:hover {
	background-color: sandybrown;
}

.delete {
	float: right;
	color: white;
	background-color: #f44336;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.delete:hover {
	background-color: #da190b;
}

.complete {
	float: right;
	color: white;
	background-color: #008CBA;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* From Uiverse.io by Praashoo7 */ 
/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  font-size: 10px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 2.3em;
  width: 2.3em;
  background-color: #ccc;
  border-radius: 50%;
  transition: .4s;
}

.checkmark:hover {
  box-shadow: inset 17px 17px 16px #b3b3b3,
            inset -17px -17px 16px #ffffff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  box-shadow: none;
  background-color: limegreen;
  transform: rotateX(360deg);
}

.container input:checked ~ .checkmark:hover {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.96em;
  top: 0.7em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  box-shadow: 0.1em 0.1em 0em 0 rgba(0,0,0,0.3);
  transform: rotate(45deg);
}

@media screen and (max-width: 1100px) {
  .container {
    font-size: 8px;
  }
  .checkmark {
    height: 1.5em;
    width: 1.5em;
  }
  .header {
    font-size: 1.5em;
    input[type="text"] {
      width: 60%;
    }
  }

}
/* @import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700"); */

/* *, *::before, *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
} */
/* 
.head {
  font-family: Raleway, sans-serif;
  background-color: #000;
  color: burlywood;
  font-size: 24px;
} */

/* .content {
  width: 95%;
  max-width: 40ch;
  padding: 3em 1em;
}

.marquee {
  position: relative;
  width: 100%;
  height: 2em;
  font-size: 5em;
  display: grid;
  place-items: center;
  overflow: hidden;

  &_text {
    position: absolute;
    min-width: 100%;
    white-space: nowrap;
    animation: marquee 16s infinite linear;
    
    @keyframes marquee {
      from { translate: 70%; }
      to { translate: -70%; }
    }
  }

  &_blur {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    background-color: black;
    background-image:
      linear-gradient(to right, white, 1rem, transparent 50%),
      linear-gradient(to left, white, 1rem, transparent 50%);
    filter: contrast(15);
    
    p {
      filter: blur(0.07em);
    }
  }
  
  &_clear {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
  }
} */

/* .text {
  margin-block: 2em;
} */